
<div class="about-body">
  <h1>About 10 Hour Projects</h1>
  <div class="about-question-container">
    <h3 class="about-question">How Will This Jump-Start My Career?</h3>
    <p class="about-answer">How do I get a job without work experience? And how do I get work experience without a job?</p>
    <p class="about-answer">We all know that internships are wonderful opportunities for students to learn more about their chosen professional fields by doing real-world work. An on-campus internship (OCI) is an opportunity for you to put into practice the things you are learning in the classroom. In addition, the students learn about actual work place environments and about a specific employer. Also, the employer gets to see the work ethic, talents, skills, and personality of a potential employee. This is truly a win-win situation.</p>
  </div>

  <div class="about-question-container">

  <h3 class="about-question">HOW AM I GOING TO WORK WITH A TEAM?</h3>
  <p class="about-answer">What if the Marriott School of Management found companies that would provide internships for student teams during the fall and winter semesters? What if they were internships where you could stay on campus during the semester and do your projects from Provo? We live in a global economy, facilitated by electronic means to bring people together all over the world. Companies have many employees that work in far spread offices and many times the employees work in remote virtual offices. Through the use of web based meeting tools, conference calls, and email/fax tools, employers are able to direct employees without being under the same roof with them.</p>
</div>

  <div class="about-question-container">
    <h3 class="about-question">BUT WHAT IF I DON'T KNOW WHAT I'M DOING YET? - HOW CAN I CONTRIBUTE TO THE TEAM?</h3>
    <p class="about-answer">What if you were not alone? What if you worked with a group of five students who would each work nine hours per week on your projects? A team leader, who has previously been an intern, could manage and disperse the work project to the team members. The team would do the work and consolidate the results to report back to the company sponsor. In addition the company sponsor will be able to provide direction to the team, or they can have us provide an MBA mentor and advisor to support your intern team.</p>
  </div>
</div>
