<br><br><br><br><br>
the points page is {{test}}
<br><br><br><br><br>
<div class="pointsContainer">
  <div class="weatherContainer">
    <div>City: {{weather.name}}, Utah</div>
    <div>Current Temp: {{tempLow}} F°</div>
  </div>

<br><br><br><br><br>
  <div class="movieContainer">
    <div>Title: {{movie.Title}}</div>
    <div>Year: {{movie.Year}}</div>
    <div>Releast: {{movie.Released}}</div>
  </div>
<br><br><br><br><br>
  <div class="zipCodeContainer">
    <div>{{zip}}</div>
  </div>
</div>
